<div class="container">
<o-form-container breadcrumb="yes" breadcrumb-label-columns="name" breadcrumb-separator=", " class="fill-form">
      <o-form #form attr="Material_form_edit" 
        service="Material" 
        entity="Material" 
        fxLayout="column" 
        show-header="yes" 
        header-actions="R;I;U;D"
        #oDetailForm keys="id" 
        keys-sql-types="INTEGER" 
        show-header-navigation="yes"
        (onDataLoaded)="onDataLoaded($event)">

  <o-row attr="row1" layout-align="start stretch">
    <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">
      
      <o-text-input #name attr="name" label=" name*" enabled="yes" required="yes" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-text-input #cost attr="cost" label="cost" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-integer-input #id attr="id" label="id" type="integer" editable="no" required="no" ></o-integer-input>
      
    </div>
  </o-row>
      
      <mat-tab-group fxFill>
        
        <mat-tab label="PROJECTMATERIAL-material_id">
    <div layout-padding>
      <o-table 
        attr="ProjectMaterialTable" 
        service="ProjectMaterial" 
        entity="ProjectMaterial" 
        keys="id"
        parent-keys="material_id:id"
        columns="id;material_id;project_id;quantity"  
        horizontal-scroll="yes"
        detail-form-route="ProjectMaterial" 
        edit-form-route="ProjectMaterial"
        visible-columns="id;material_id;project_id;quantity"  
        sort-columns="id" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column attr="material_id" title="material_id">
    <o-table-cell-renderer-service attr="material_id" 
        service="Material" entity="MaterialType" columns="id;name"
        parent-keys="id:material_id"
        value-column="name" keys="material_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column attr="project_id" title="project_id">
    <o-table-cell-renderer-service attr="project_id" 
        service="Project" entity="ProjectType" columns="id;name"
        parent-keys="id:project_id"
        value-column="name" keys="project_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column #quantity attr="quantity" title="quantity" type="integer" editable="no" required="yes" content-align="center"></o-table-column>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
      </mat-tab-group>
      
    </o-form>
  </o-form-container>
</div>