<o-form-layout-manager attr="ProjectMaterial" mode="tab" title="PROJECTMATERIAL">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="ProjectMaterialTable" 
            service="ProjectMaterial" 
            entity="ProjectMaterial" 
            title="PROJECTMATERIAL"
            keys="id"
            columns="id;material_id;project_id;quantity" 
            header-actions="R;D"
            visible-columns="id;material_id;project_id;quantity"  
            sort-columns="id" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-column attr="material_id" title="material_id">
    <o-table-cell-renderer-service attr="material_id" 
        service="Material" entity="MaterialType" columns="id;name"
        parent-keys="id:material_id"
        value-column="name" keys="material_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-table-column attr="project_id" title="project_id">
    <o-table-cell-renderer-service attr="project_id" 
        service="Project" entity="ProjectType" columns="id;name"
        parent-keys="id:project_id"
        value-column="name" keys="project_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-table-column #quantity attr="quantity" title="quantity" type="integer" editable="no" required="yes" content-align="center"></o-table-column>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>