<div class="container">
<o-form-container breadcrumb="yes" breadcrumb-label-columns="method_name" breadcrumb-separator=", " class="fill-form">
      <o-form #form attr="PaymentMethod_form_edit" 
        service="PaymentMethod" 
        entity="PaymentMethod" 
        fxLayout="column" 
        show-header="yes" 
        header-actions="R;I;U;D"
        #oDetailForm keys="id" 
        keys-sql-types="INTEGER" 
        show-header-navigation="yes"
        (onDataLoaded)="onDataLoaded($event)">

  <o-row attr="row1" layout-align="start stretch">
    <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">
      
      <o-text-input #method_name attr="method_name" label=" method_name*" enabled="yes" required="yes" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-integer-input #id attr="id" label="id" type="integer" editable="no" required="no" ></o-integer-input>
      
    </div>
  </o-row>
      
      <mat-tab-group fxFill>
        
        <mat-tab label="PROJECTPAYMENTMETHOD-payment_method_id">
    <div layout-padding>
      <o-table 
        attr="ProjectPaymentMethodTable" 
        service="ProjectPaymentMethod" 
        entity="ProjectPaymentMethod" 
        keys="id"
        parent-keys="payment_method_id:id"
        columns="id;payment_method_id;project_id"  
        horizontal-scroll="yes"
        detail-form-route="ProjectPaymentMethod" 
        edit-form-route="ProjectPaymentMethod"
        visible-columns="id;payment_method_id;project_id"  
        sort-columns="id" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column attr="payment_method_id" title="payment_method_id">
    <o-table-cell-renderer-service attr="payment_method_id" 
        service="PaymentMethod" entity="PaymentMethodType" columns="id;method_name"
        parent-keys="id:payment_method_id"
        value-column="method_name" keys="payment_method_id"
        visible-columns="method_name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column attr="project_id" title="project_id">
    <o-table-cell-renderer-service attr="project_id" 
        service="Project" entity="ProjectType" columns="id;name"
        parent-keys="id:project_id"
        value-column="name" keys="project_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
      </mat-tab-group>
      
    </o-form>
  </o-form-container>
</div>