<o-form-layout-manager attr="ProjectPaymentMethod" mode="tab" title="PROJECTPAYMENTMETHOD">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="ProjectPaymentMethodTable" 
            service="ProjectPaymentMethod" 
            entity="ProjectPaymentMethod" 
            title="PROJECTPAYMENTMETHOD"
            keys="id"
            columns="id;payment_method_id;project_id" 
            header-actions="R;D"
            visible-columns="id;payment_method_id;project_id"  
            sort-columns="id" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-column attr="payment_method_id" title="payment_method_id">
    <o-table-cell-renderer-service attr="payment_method_id" 
        service="PaymentMethod" entity="PaymentMethodType" columns="id;method_name"
        parent-keys="id:payment_method_id"
        value-column="method_name" keys="payment_method_id"
        visible-columns="method_name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-table-column attr="project_id" title="project_id">
    <o-table-cell-renderer-service attr="project_id" 
        service="Project" entity="ProjectType" columns="id;name"
        parent-keys="id:project_id"
        value-column="name" keys="project_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>